/* stylelint-disable */

/** 
 * Colors
 */

$black: #000;
$white: #fff;
$primaryBrandColor: #004385;
$darkPrimaryBrandColor: #013365;
$secondaryBrandColor: #004385;
$contentColor: #000;
$contentInverseColor: #fff;
$secondaryContentColor: #c2c2c2;
$borderColor: #dedede;
$secondaryBorderColor: #31679c;
$fillColor: #f2f2f2;
$positiveColor: #004385;
$darkPositiveColor: #013365;
$negativeColor: #c03;
$noticeColor: #fef1cf;
$chartColor: #6b8fb9;
$chartAreaColor: rgba(128, 179, 236, 0.3);