/** 
 * Common
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    font-weight: $base-font-weight;
    line-height: $base-line-height;
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;
    color: $contentColor;
    background: $contentInverseColor;
    background-repeat: repeat-x;
    background-position: bottom;
}

i {
    font-style: italic;
}

// Header
header, .header {
    background: $primaryBrandColor;
    
    a {
        color: $contentInverseColor;
        text-decoration: none;
    }
}

// Footer
footer {
    #footer-regulatory a {
        font-size: $font-size-x-small;
    }
    a {
        font-size: $font-size-small;
        color: $contentInverseColor;
    }
}

label {
    display: block;
    margin-bottom: 5px;
}

table sup, sup {
    color: $secondaryBrandColor;
    font-size: 80%;
    margin-left: 2px;
}