select, input, textarea {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    padding: 5px 3px;
    color: $contentColor;
    background: $contentInverseColor;
    outline: none;
    border-radius: $BORDER_RADIUS;
    border: 1px solid $secondaryBorderColor;
}

select, input {
    &.secondary-input {
        border-radius: $ROUND_BORDER_RADIUS;
        border: 1px solid $borderColor;
        padding: 5px 10px;
    }
}

fieldset {
    border: 1px solid $fillColor;
}

.hint {
    font-size: $FONT_SIZE_XS;
    color: $secondaryContentColor;
    margin-top: 5px;
}

.secondary-hint {
    @extend .hint;
    padding-left: 10px;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: $secondaryContentColor;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: $secondaryContentColor;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: $secondaryContentColor;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: $secondaryContentColor;
}

//Jquery ui Selectmenu
.ui-widget-content .ui-state-default.ui-selectmenu-button {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    border: 1px solid $secondaryBorderColor;
    color: $contentColor;
    background: $contentInverseColor;
    border-radius: $BORDER_RADIUS;
}

.text-display {
    display: block;
    font-weight: 400;
    border: 1px solid $fillColor;
    padding: 5px 10px;
    border-radius: 5px;
}
