/**
 * Logo
 */

.fx-logo {
    display: flex;
    align-items: center;
    flex-direction: row;
    
    .fx-logo__icon, .fx-logo__icon--light {
        display: block;
        width: 30px;
        height: 100%;
    }
    .fx-logo__wordmark, .fx-logo__wordmark--light {
        display: block;
        width: 90px;
        margin: 27px 5px 5px;
    }
    @media screen and (max-width: 769px) {
        .fx-logo__wordmark, .fx-logo__wordmark--light {
            display: none;
        }
    }
}

.fx-logo__icon:before {
    content: url('./images/logo/CFX_logo_icon.svg');
}

.fx-logo__wordmark:before {
    content: url('./images/logo/CFX_logo_wordmark.svg');
}

.fx-logo__icon--light:before {
    content: url('./images/logo/CFX_logo_icon_light.svg');
}

.fx-logo__wordmark--light:before {
    content: url('./images/logo/CFX_logo_wordmark_light.svg');
}