.logo-wrapper {
    display: inline-flex;
    .binary-logo-text {
        margin-top: 10px;
    }
    .logo-parent {
        display: inline-flex;
    }
}

.logo-parent {
    padding: 10px 0;
    display: inline-flex;
}

.logo {
    display: inline-block;
    width: 45px;
}

.binary-logo-text {
    display: inline-block;
    padding: 12px 10px 0 7px;
	  width: 175px;
    img.responsive {
        width: 90%;
    }
}

img.responsive{
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 769px) {
    #header .logo {
        max-width: 100%;
    }
}
