/**
 * Logo
 */

.fx-logo--default {
    content: url('./images/logo/CFX_logo.svg');
}

.fx-logo--light {
    content: url('./images/logo/CFX_logo_light.svg');
}

.fx-logo {
    display: flex;
    align-items: center;

    &__icon {
        height: 4rem;
        content: url('./images/logo/CFX_logo_icon.svg');
    }
    &__wordmark {
        height: 2rem;
        margin: 2rem 0.5rem 0.5rem;
        content: url('./images/logo/CFX_logo_wordmark.svg');
    }
    &__icon--light {
        height: 4rem;
        content: url('./images/logo/CFX_logo_icon_light.svg');
    }
    &__wordmark--light {
        height: 2rem;
        margin: 2rem 0.5rem 0.5rem;
        content: url('./images/logo/CFX_logo_wordmark_light.svg');
    }
    @media screen and (max-width: 769px) {
        .fx-logo__wordmark, .fx-logo__wordmark--light {
            display: none;
        }
    }
}
