.navbar {
    position: relative;
    height: 76px;
    background: $primaryBrandColor;
    font-size: 14px;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        width: 100%;
        @media (min-width: 1024px) {
            width: 1100px;
        }
    }

    // Navbar brand/logo
    .navbar__brand {
        position: absolute;
        height: 40px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        justify-content: center;
        @media (min-width: 1024px) {
            position: relative;
            width: initial;
            margin-left: 0;
        }

        // .fx-logo--icon--light {
        //     height: 50px;
        //     width: 32px;
        // }
        // .fx-logo--wordmark--light {
        //     height: 30px;
        // }
    }

    // Navbar mobile menu toggle
    .navbar__toggle {
        position: relative;
        display: flex;
        align-items: center;
        z-index: 999;

        &:before {
            position: absolute;
            content: url('./images/assets/main_menu.svg');
            width: 22px;
            height: 14px;
            top: 0;
            bottom: 0;
            margin: auto;
        }
        @media (min-width: 1024px) {
            display: none;
        }

        &:focus {
            outline: 0;
        }
    }

    // Navbar navigation menu
    .navbar__nav {
        // Mobile menu css
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: -280px;
        z-index: 99999;
        height: 100vh;
        width: 280px;
        background: $white;
        border-right: 1px solid $borderColor;
        box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.1);
        -webkit-overflow-scrolling: touch; /* mobile safari */
        transition: 0.3s;
        overflow-y: scroll;
        display: block;

        @media (max-width: 1023px) {
            > ul.logged-out, > ul.navbar__nav__menu {
                overflow-y: scroll;
                padding: 20px 40px;

                li {
                    a {
                        height: 50px;
                    }
                    ul li a {
                        height: 35px;
                    }
                }
            }
            > ul.logged-in {
                height: initial;
                border-top: 1px solid $fillColor;
                padding: 20px 40px;
            }
            > ul.account-dropdown {
                li {
                    ul {
                        padding: 0;

                        li a {
                            height: 50px;
                            color: $primaryBrandColor;
                            padding: 0;
                            margin: 0;
                        }
                    }
                }
            }
        }
        // Reset list
        ul, ul li {
            margin: 0;

            li a {
                height: 76px;
            }
            li ul {
                display: none; /* hide sub-menu */

                li a {
                    /* sub-menu list */
                    text-align: left;

                    @media (min-width: 1024px) {
                        padding: 10px;
                        height: 35px;
                        white-space: nowrap;
                    }
                }
            }
        }

        // Desktop menu css
        @media (min-width: 1024px) {
            position: initial;
            text-align: center;
            margin: auto;
            width: 100%;
            border-right: 0;
            height: 76px !important;
            overflow: visible;
            background: none;
            box-shadow: none;
            transition: none;

            > ul {
                overflow: hidden;
                padding: 0;
                height: 100%;

                &.logged-in {
                    height: 50px;
                    margin: 0 0 0 auto !important;
                }
                &.account-dropdown {
                    li {
                        min-width: 255px;

                        ul li {
                            min-width: 245px;
                        }
                    }
                    li:not(:last-child) {
                        /* sub-menu separator line */
                        border-bottom: 1px solid $secondaryBorderColor;
                    }
                }
            }
            ul li {
                display: inline-block;
                text-align: left;
                height: 100%;

                a {
                    height: 100%;
                }
                ul {
                    position: absolute;
                    padding: 0 5px;
                    min-width: 100px;

                    li {
                        display: block;
                    }
                }
            }
        }

        // Navigation menu items
        &__menu {
            display: block;
            width: 100%;

            .fx {
                // mobile menu icons
                height: 20px;
                width: 20px;
                margin: 0 10px 0 0;
            }
            li {
                a {
                    display: flex;
                    align-items: center;
                    color: $primaryBrandColor;
                    font-weight: 400;
                    text-align: left;
                    text-decoration: none;
                    cursor: pointer;
                }
                ul li a {
                    height: 35px;
                    color: $black;
                    margin-left: 12px;
                }
            }

            @media (min-width: 1024px) {
                display: inline-block;
                width: initial;
                margin: auto !important;
                padding: 0;

                .fx {
                    display: none;
                }
                li {
                    a {
                        padding: 10px;
                        color: $white;
                        text-align: center;

                        &:hover {
                            color: $blue-lighter;
                        }
                    }
                    ul li a {
                        height: 35px;
                        color: $white;
                        margin-left: 0;
                    }
                }
            }
        }
        &__menu--show {
            display: block !important;
            @media (min-width: 1024px) {
                background: $primaryBrandColor;
            }
        }

        // Navigation menu toggle
        &__toggle {
            &:after {
                display: inline-block;
                content: '\25BE';
                width: 20px;
                height: 20px;
                margin-left: auto;
                @media (min-width: 1024px) {
                    position: relative;
                }
            }
        }

        // Accounts list dropdown
        &.has-accounts {
            @media (min-width: 1024px) {
                display: flex;
                flex-direction: row-reverse;
            }

            .account-info {
                display: none;

                @media (min-width: 1024px) {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    background: $darkPrimaryBrandColor;
                    position: relative;
                    margin: 0;
                    padding: 10px 30px 10px 10px;

                    &:after {
                        position: absolute;
                        right: 5px;
                        top: 15px; /* Safari */
                    }
                }
            }
            .account-list {
                display: block;

                @media (min-width: 1024px) {
                    display: none;
                    background: $primaryBrandColor;
                    width: inherit;

                    li a {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: center;
                        height: 50px;
                        padding: 5px;
                    }
                }
            }
            .account-type {
                display: none;

                @media (min-width: 1024px) {
                    display: block;
                    font-size: $font-size-small;
                }
            }
        }
    }
    .account-info {
        color: $white;
        margin-left: 30px;
        min-width: 160px;

        .account-type, .account-balance {
            font-size: $font-size-small;

            &.account-type {
                margin-left: 5px;
            }
        }
    }
    .navbar__nav--show {
        transform: translateX(100%); // slide in from left

        @media (min-width: 1024px) {
            transform: translateX(0);
        }
    }
    &--fixed {
        position: fixed;
        width: 100%;
        z-index: 1;
        height: 50px;
        transition: 0.3s;
    }
}

@media (min-width: 1024px) {
    .navbar__nav > ul > li {
        &.active {
            background: $darkPrimaryBrandColor;
        }
    }
}
