.navbar {
  height: 50px;
  background: $primaryBrandColor;
  font-size: 14px;
  position: relative;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
  }

  // Navbar brand/logo
  .navbar__brand {
    height: 36px;
    position: absolute;
    width: 95%;
    justify-content: center;
    @media (min-width: 1200px) {
      position: relative;
      width: initial;
      margin-left: 0;
    }

    .fx-logo--icon--light {
      height: 36px;
    }
    .fx-logo--wordmark--light {
      height: 16px;
    }
  }

  // Navbar mobile menu toggle
  .navbar__toggle {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 999;
    
    &:before {
      position: absolute;
      content: url('./images/assets/main_menu.svg');
      width: 22px;
      height: 14px;
      top: 0;
      bottom: 0;
      margin: auto;
    }
    @media (min-width: 1200px) {
      display: none;
    }

    &:focus {
      outline: 0;
    }
  }

  // Navbar navigation menu
  .navbar__nav {
    // Mobile menu css
    position: absolute;
    top: 0;
    left: -300px;
    z-index: 99999;
    min-height: 100vh;
    width: 300px;
    display: flex;
    justify-content: flex-end;
    background: $white;
    border-right: 1px solid $borderColor;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.1);
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch; /* mobile safari */
    transition: 0.3s;

    // Reset list
    ul, ul li {
      padding: 0;
      margin: 0;

      li a {
        height: 50px;
      }
      li ul {
        display: none; /* hide sub-menu */

        li a { /* sub-menu list */
          text-align: left;
          
          @media (min-width: 1200px) {
            padding: 10px;
            height: 35px;
            white-space: nowrap;
          }
        }
      }
    }

    // Desktop menu css
    @media (min-width: 1200px) {
      position: initial;
      text-align: center;
      margin: auto;
      width: 100%;
      border-right: 0;
      min-height: 300px;
      overflow: hidden;
      background: none;
      box-shadow: none;
      transition: none;

      ul li {
        display: inline-block;
        text-align: left;
        position: relative;

        ul {
          position: absolute;
          padding: 0 5px;
          // width: 100%;

          li:not(:last-child) { /* sub-menu separator line */
            display: block;
            border-bottom: 1px solid $secondaryBorderColor;
          }
        }
      }
    }

    // Navigation menu items
    &__menu {
      display: block;
      width: 100%;
      
      .fx { // mobile menu icons
          height: 20px;
          width: 20px;
          margin: 0 10px 0 0;
      }
      li a {
        display: flex;
        align-items: center;
        padding: 15px;
        color: $black;
        font-weight: 400;
        text-align: left;
        text-decoration: none;
        border-top: 1px solid $fillColor;
        cursor: pointer;
      }
      
      @media (min-width: 1200px) {
        display: inline-block;
        width: initial;
        margin: 0 0 0 auto !important;
        

        .fx {
          display: none;
        }
        li a {
          border-top: 0;
          padding: 10px;
          color: $white;
          text-align: center;
          
          &:hover {
            color: $blue-lighter;
          }
        }
      }
    }

    &__menu--show {
      display: block !important;
      @media (min-width: 1200px) {
        background: $primaryBrandColor;
      }
    }

    // Navigation menu toggle
    &__toggle {
      &:after {
        display: inline-block;
        content: url('./images/assets/more_menu.svg');
        width: 20px;
        height: 20px;
        margin-left: auto;
        @media (min-width: 1200px) {
          position: relative;
          content: '\25BE';
          width: 20px;
        }
      }
    }
  
    // Accounts list dropdown
    &.has-accounts {
      display: flex;
      flex-direction: column-reverse;
      justify-content: flex-end;
      @media (min-width: 1200px) {
        flex-direction: row;
      }

      .account-info {
        display: none;
        
        @media (min-width: 1200px) {
          display: flex;         
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          background: $darkPrimaryBrandColor;
          position: relative;
          margin: 0;
          padding: 10px 30px 10px 10px;
          
          &:after {
            position: absolute;
            right: 5px;
          }
        }
      }

      .account-list {
        display: block;

        @media (min-width: 1200px) {
          display: none;
          background: $primaryBrandColor;
          width: 100%;

          li a {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            height: 50px;
            padding: 5px;
          }
        }
      }

      .account-type {
        display: none;

        @media (min-width: 1200px) { 
          display: block;
          font-size: $font-size-small;
        }
      }
    }
  }

  .account-info {
    color: $white;
    margin-left: 30px;
    min-width: 160px;

    .account-type, .account-balance {
      font-size: $font-size-small;
      
      &.account-type {
        margin-left: 5px;
      }
    }
  }

  .navbar__nav--show {
    transform: translateX(100%); // slide in from left
    
    @media (min-width: 1200px) {
      transform: translateX(0);
    }
  }

  &--fixed {
    position: fixed;
    width: 100%;
    z-index: 1;
  }
}

@media (min-width: 1200px) {
  .navbar__nav > ul > li {
    &.active {
      background: $darkPrimaryBrandColor;
    }
  } 
}