table
{
    border-collapse: collapse;
    font-size: 1rem;
    line-height: 1.5em;
    width: 100%;
    .even {
        background-color: $contentInverseColor;
    }
    * {
        font-size: 1em;
    }
    thead, th {
        line-height: 1.1em;
        font-weight: bold;
        padding: 1.2rem .2rem;
        background: $fillColor;
        border-bottom: 1px solid $fillColor;
        vertical-align: middle;
        &#pf-bet-details {
            text-align: left;
        }
        &.total {
            background: none;
        }
        &.num {
            font-weight: bold;
        }
    }
    td {
        vertical-align: top;
        border-width: 0 1px;
        padding: 1.2rem 0;
        border-bottom: 3px solid $fillColor;
        &.num {
            text-align: center;
        }
        &.text {
            text-align: center;
            vertical-align: middle;
        }
        &.tip {
            text-align: left;
        }
    }
}
.champion-features td {
	border-bottom:none;
	vertical-align:middle;
}
.td-highlight {
	border-left: 2px solid  $primaryBrandColor; 
	border-right: 2px solid  $primaryBrandColor; 
	border-bottom: 1px solid  $borderColor!important; 
	text-align:center; width:30%; 
	padding:10px;
	}
.td-info {
	border-left: 1px solid  $borderColor!important; 
	border-right: 1px solid  $borderColor; 
	border-bottom: 1px solid  $borderColor!important; 
	text-align:center; width:30%; 
	padding:10px;
}
.td-devider {
	width:2%; 
	border-bottom: 1px solid  $borderColor!important;
}
.td-title {
	width:40%; 
	border-bottom: 1px solid  $borderColor!important;
}
.td-highlight-title {
	border-left: 2px solid  $primaryBrandColor; 
	border-top: 2px solid  $primaryBrandColor; 
	border-right: 2px solid  $primaryBrandColor; 
	background-color:$fillColor; 
	text-align:center;
}
.td-highlight-last {
	border-left: 2px solid  $primaryBrandColor; 
	border-bottom: 2px solid  $primaryBrandColor!important; 
	border-right: 2px solid  $primaryBrandColor; 
	text-align:center;
}
.td-info-title {
	border-left: 1px solid  $borderColor!important; 
	border-right: 1px solid  $borderColor; 
	background-color:$fillColor; 
	text-align:center;
}
.td-info-last {
	border-left: 1px solid  $borderColor!important; 
	border-bottom: 1px solid  $borderColor!important; 
	border-right: 1px solid  $borderColor; 
	text-align:center;
}