.tabs-container, .has-tabs {
    padding: 0;
    ul.ui-tabs-nav, ul.ui-tabs-vertical {
        border: none;
        border-radius: 0;
        padding: 0;
        margin-left: 0;
        background: none;
        border-bottom: 1px solid $borderColor;
        li {
            border: none;
            list-style-image: none;
            background: $white;
            border-radius: $BORDER_RADIUS $BORDER_RADIUS 0 0;
            margin: 0 2px 0 0;
            padding: 0 10px;
            border-bottom: 3px solid $white;
            a, a:visited {
                padding: 3px 0 0 !important;
                font-weight: normal;
                text-decoration: none;
                color: $contentColor;
                font-size: 90%;
                background: transparent;
            }
        }
        li.active,
        li.ui-tabs-active {
            background: $white;
            color: $primaryBrandColor;
            border-bottom: 3px solid $darkPrimaryBrandColor;
            a {
                background: none;
                color: $primaryBrandColor;
                font-weight: bold;
                text-decoration: none;
                padding: 0;
                outline: none;
            }
        }
    }
}

.tabs-container, .container .has-tabs {
    .ui-tabs-panel {
        border: none;
        padding: 0 !important;
    }
    ul.ui-tabs-nav {
        margin-bottom: 2px;
    }
}

.has-tabs {
    .ui-tabs-panel {
        padding: 10px;
    }
}
