/** 
 *Typography
 */

h1, h2, h3, h4, li, p, a, span {
    text-rendering: optimizeLegibility;
}

// Remove top margins from headings
h1, h2, h3, h4 {
    margin-top: 0;
    color: $primaryBrandColor;
    font-weight: 400;
}

h1 {
    font-size: 36px;
    margin-bottom: 2rem;
}

h2 {
    font-size: 28px;
    margin-bottom: 2rem;
}

h3 {
    font-size: 22px;
    margin-bottom: 1rem;
}

h4 {
    font-size: 18px;
    margin-bottom: 0;
}

// Reset margins on paragraphs
p {
    margin: 1rem 0;
}

// Reset margins and paddings on lists
ol, ul {
  list-style: none;
  margin: 0 0 0 2rem;
  padding-left: 2rem;

  li {
    margin: 1rem 0;

    ol, ul {
      margin: 0 0 0 2rem;
    }
  }
}

/** 
 * Links
 */
a, a:visited {
    color: $primaryBrandColor;
    font-weight: bold;

    &:hover, &:active {
        color: $darkPrimaryBrandColor;
    }
}

// .font-n {
//     font-size: $FONT_SIZE_N;
// }

// .font-s {
//     font-size: $FONT_SIZE_S;
// }

// .font-xs {
//     font-size: $FONT_SIZE_XS;
// }
