/** 
 * Base variables
 */

@import 'fonts';
@import 'colors';

// Page direction
$IS_LTR: true;

// Border radius
$border-radius: 5px;
$border-radius-100: 100px;

// Shadows
$z-depth-1: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
$z-depth-1-half: 0 4px 8px 0 rgba(0, 0, 0, 0.18),
    0 4px 12px 0 rgba(0, 0, 0, 0.15);